---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Mini Projects</h1>
    <h2>From <a href="https://www.udemy.com/course/50-projects-50-days">50 projects in 50 days</a></h2>
    <ol>
      <li>
        <a href="/expanding-cards">Expanding Cards</a>
      </li>
      <li>
        <a href="/progress-steps">Progress Steps</a>
      </li>
      <li>
        <a href="/rotating-navigation">Rotating Navigation</a>
      </li>
      <li>
        <a href="/hidden-search-widget">Hidden Search Widget</a>
      </li>
      <li>
        <a href="/blurry-loading">Blurry Loading</a>
      </li>
      <li>
        <a href="/scroll-animation">Scroll Animation</a>
      </li>
      <li>
        <a href="/split-landing-page">Split Landing Page</a>
      </li>
      <li>
        <a href="/form-wave">Form Wave</a>
      </li>
      <li>
        <a href="/sound-board">Sound Board</a>
      </li>
      <li>
        <a href="/dad-jokes">Dad Jokes</a>
      </li>
      <li>
        <a href="/pokedex">Pokedex</a>
      </li>
    </ol>
    <h2>From <a href="https://www.udemy.com/course/web-projects-with-vanilla-javascript">Vanilla JS</a></h2>
    <ol>
      <li>
        <a href="/vanilla/relaxer">Relaxer</a>
      </li>
    </ol>
    <h2>From <a href="https://devchallenges.io">Dev Challenges</a></h2>
    <ol>
      <li>
        <a href="/dev-challenges/recipe">Recipe</a>
      </li>
    </ol>
    <h2>From <a href="https://frontendmentor.io">Frontend Mentor</a></h2>
    <ol>
      <li>
        <a href="/fe-mentor/product-preview-card">Product Preview Card</a>
      </li>
      <li>
        <a href="/fe-mentor/advice-generator">Advice Generator</a>
      </li>
      <li>
        <a href="/fe-mentor/intro-with-signup">Intro With Signup</a>
      </li>
    </ol>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
